html{
    background-image: url('images/BMW-Logo-HD-Pictures.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#img{
    
    position:relative;
    left: 300px;
   display: inline-block;
   
    
}
table{
    width: 950px;
    background-color: silver;
    margin-top: 20px;
    border: solid 5px ;
    font-size: 20px;
    border-collapse: collapse;
    text-align: justify;
    
   
    
}
td>img{
   margin-bottom: -5px;
}
.color1{
    background-color:skyblue;
    color: black;
    font-style: italic;
}
.color2{
    background-color:blue;
    font-weight: bold;
    color:yellow;
}
.color3{
    background-color: red;
    color: white;
}
td{
    border:solid 3px black;
    
}td>p{
        
    
    margin-left: 5px;
    margin-right: 5px;
    

}

nav>a{
    color: blue;
    
    
    padding:0px 40px;

    display: inline-block;
    font-weight: bolder ;
    text-decoration: none;
    font-style: italic;
    text-align:center;
    
        
}
nav>a:hover{
    
    color:grey;
}

 nav{
    margin-top: 20px;
    text-align: right;
}


nav>pre{
    font-weight: bolder;
    color: blue;
    font-size:26px;
    font-style: italic;
    margin-right: 40px;
    display:inline-block; 
    padding-bottom: 100px;
    
}
#wrapper1{
    width: 950px;
    margin: auto;
    border: solid graytext 5px; 
    background-color: silver;
    font-size: 18px;
    text-align: justify;
    font-style: italic;
    color: black;
    
    
    
    
  }
  h1,h1+p{
    color:black;
    text-align: center;
    
  }
  #arrow{
      position: relative;
      left: 423px;
  }
  footer{
      color: white;
      position: fixed;
      bottom: 0;
      font-size: 12px;
  }
  .formstyle{
      font:papyrus;
      max-width: 400px;
      margin: 10px auto;
      padding: 16px;
      background: white;
      width: 100%;
      
     
  }
  form>h1{
     background: #3B511F;
     padding: 20px 0;
     font-size: 140%;
     font-weight: 300;
     text-align: center;
     color: #fff;
     margin: -16px -16px -16px -16px;
  }
  .formstyle input[type="text"],
  .formstyle input[type="email"],
  .formstyle textarea,
  .formstyle select
  {
      outline: none;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border:1px solid #ccc;
      padding:3%;
      color: #555;
      font:papyrus;
  }
      .formstyle input[type="text"]:focus,
      .formstyle input[type="email"]:focus,
      .formstyle textarea:focus,
      .formstyle select:focus
      {
          box-shadow: 0 0 5px #5e9b10;
          padding: 3%;
          border:  1px solid  #5e9b10;
      }
      
  .formstyle input[type="submit"],
  .formstyle input[type="button"]{
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 3%;
      background: #3B511F;
      border-bottom: 2px solid #3B511F;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      color: #fff;
  }
  .formstyle input[type="submit"]:hover,
  .formstyle input [type="button"]:hover{
      background: #5e9b10;
      cursor: pointer;
  
  }
.appname{
    color:white;
    text-decoration: none;
    background-color: #3B511F;
    border-radius: 10px;
    padding: 0px 10px;
}
.app>p{
    text-align: center;
    
}
.app{
    display: inline-block;
    border: solid #5e9b10 3px;
    border-radius: 20px;
    background-color: white;
    padding: 20px 50px 10px;
    margin: 0px 63px 10px;
    
}
pre{
    font-weight: bold;
    font-style: italic;
    color: #3B511F;
    font-size: 24px;
    position: relative;
    
   
}
